
* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  background: inherit;
  color: inherit;
  vertical-align: inherit;
  text-align: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  list-style: none;
}


body {
 background-color: #cccccc;
 font-family: sans-serif;
 font-size: 18px;
}

main {
  color: #fff;
}

h1 {
  display: block;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 26px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

form h2 {
    font-size: 16px;
    padding: 10px 25px;
    margin-bottom: 20px;
    color: #cccccc;
}

form, article, section.charts.pie {
  background-color: #fff;
  color: black;
  border: 1px solid #D3D3D3;
  width: 60%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

section.charts.bar article {
  min-width: 600px;
}

.input-item {
  width: 300px;
  padding: 5px 10px;
}

.input-item input {
  margin-left: 5px;
}

input.paste {
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  display: inline-block;
}

form label {
  display: block;
  padding: 5px 5px 5px 0;
  font-size: 24px;
  margin: 10px;
}


input.upload {
  color: #808080;
  font-weight: 100;
  font-size: 12px;
  vertical-align: middle;
}

/*button.button {
  display: block;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #60b044;
  border-color: #5ca941;
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
}*/

section.charts {
  color: #111;
}

article.chart {
  padding-bottom: 20px;
}

article.chart.pie {
  width: auto;
  border: none;
}
